
.gallery {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.photo {
	padding: 10px;
	box-sizing: border-box;
}
.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 10px solid #eee;
    box-sizing: border-box;
}
.photo a:hover {
    opacity: 0.5;
}
.photo a {
    display: block;
    position: relative;
}

.photo figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px;
}
