*{transition:.3s;}
body {
    background-image: url(/images/bg/squares.png);
    color: whitesmoke;
    padding: 15px;
}
.container {
    display: flex;
    border-radius: 5px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: whitesmoke;
}

.phone a{
    text-decoration: none;
    color: whitesmoke;
    font-size: .7em;
}

.main {
    width: 70%;
    max-width: 1000px;
    background-color: #191919;
    margin:0 auto;
    flex-direction: column;
    box-shadow: 0px 0px 45px 2px rgba(245,245,220,0.2);
    border: 1px solid transparent;
}
.head {
    background:#191919;
    justify-content: space-between;
    align-items: center;
}
.head div {
  margin-top: 15px;
  text-align:center;
  flex-grow: 1;
}
.logo {
    padding-top: 10px;
    font-family: Great Vibes, cursive; 
    color: whitesmoke; 
    font-size: 6em; 
    line-height:0.82;
}
.menu a {
    text-decoration: none;
    color: whitesmoke;
}
.menu {
    background: #191919;
    display:flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}
.menu ul {
    list-style: none;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5em;
    text-shadow: 0 0 80px red;

}
.menu ul li:hover{
    opacity:0.3; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    transition: .1s;
}
.menu ul li {
    display: inline-block;
    margin-right: 2em;
}
.slider {
    height: 420px;
    background-color: #191919;
    position: relative;
}
.adres {
    padding: 4ex;
    background:#191919;
    display:flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 12px;
}
.adres p{
    margin:0 1em;
}
.logo {
  animation: lower 10s linear infinite;
}

    @media all and (max-width: 1100px) {
        .main { width:90%;}
        .menu ul { font-size: 1em;}
        
    }

    @media all and (max-width: 830px) {
        .main { width:90%;}
        .head {flex-direction: column;}
        .logo{order: 1;}
        .social {order:2;}
        .phone {order:3; font-size: 1ex;}
        .piki {display: none;

}
}
        
  @media all and (max-width: 441px) {
        .main { width:100%;
            order:1; }
      .content {
          order:2;
      }
      .otzyv{
          order:3;
      }
      .menu {
          order:4;
      }
      .adres {
          order:5;
      }
      .menu ul li {
      margin-right: 1.2em;}

}

@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant|Great+Vibes|Lato');
    
